.banner-container { 
  position: relative; 
  width: 100%; 
  max-width: 1000px; 
  margin: 30px auto; 
  overflow: hidden; 
  border-radius: 8px;
   box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  
  } 
   
  .slide { display: none; 
    width: 100%; 
  
  } 
  
  .slide img { 
    width: 100%; 
    height: auto; 
    display: block; 
    background-color: #e3e3e3; 
    user-select: none; 
  
  } 
  
  .slide.active {
     display: block; 
  } 
  
  .nav-buttons { 
    position: absolute; 
    top: 50%;
     width: 100%; 
     display: flex; 
     justify-content: space-between; 
     transform: translateY(-50%); 
     padding: 0 15px; 
     pointer-events: auto; 
     box-sizing: border-box; 
  
    } 
    
    .nav-buttons button { 
      background-color: rgba(3, 6, 161, 0.4); 
      border: none; color: white; font-size: 30px; 
      cursor: pointer; border-radius: 50%; width: 40px;
       height: 40px; transition: background 0.3s; user-select: none; 
      
    } 
    
    .nav-buttons button:hover {
       background-color: rgba(0, 0, 0, 0.7); 
      
    } .dots { 
      text-align: center; position: absolute; 
      bottom: 10px; width: 100%; } 
      
      .dot { height: 12px; width: 12px; 
        margin: 0 5px; background-color: #4533b6; 
        border-radius: 50%; display: inline-block; cursor: pointer; transition: background-color 0.3s; } 
.dot.active { 
  background-color: #070246; } 

  .nav-buttons,
.dots {
  display: none !important;
}


