@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .icons {
    margin-top: 10px;
    display: flex;
    gap: 15px;
  }
}
